@keyframes fade-in {
  0% {opacity: 0; background-color: #fff}/*初始状态 透明度为0*/
  20% {opacity: 0.5;background-color: #fffdf1}/*过渡状态 透明度为0*/
  30% {opacity: 1;background-color: #fffdf1}/*过渡状态 透明度为0*/
  100% {opacity: 1;background-color: #fffdf1}/*结束状态 透明度为1*/
}
@-webkit-keyframes fade-in {/*针对webkit内核*/
  0% {opacity: 0; background-color: #fff}/*初始状态 透明度为0*/
  20% {opacity: 0.5;background-color: #fffdf1}/*过渡状态 透明度为0*/
  30% {opacity: 1;background-color: #fffdf1}/*过渡状态 透明度为0*/
  100% {opacity: 1;background-color: #fffdf1}/*结束状态 透明度为1*/
}
.fade-in {
  animation: fade-in;/*动画名称*/
  animation-duration: 5s;/*动画持续时间*/
  -webkit-animation:fade-in 5s;/*针对webkit内核*/
}