


.icon-identity{
  display:inline-block;
  width:60px;height:60px;
  background: image-url('css/icons/identity.png') no-repeat center center;
  background-size:cover;
}


.icon-identity-dis{

  background: image-url('css/icons/identity-dis.png') no-repeat center center;
  background-size:cover;
}